p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-shadow {
  div {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
    border-radius: 0.25rem;
  }
}

.name-lv {
  color: #01417b;
  z-index: 2;
  span {
    color: #ffa70a;
    z-index: -1;
    opacity: 0;
    &.fade-in {
      transition: all 3s;
      opacity: 1;
      transform: translateX(-7.2px);
    }
  }
}
