$yellow: #ffa70a;
$blue: #01417b;

.image-shadow {
  div {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
    border-radius: 0.25rem;
  }
}

.name-lv {
  color: $blue;
  z-index: 2;
  span {
    color: $yellow;
    z-index: -1;
    opacity: 0;
    &.fade-in {
      transition: all 3s;
      opacity: 1;
      transform: translateX(-7.2px);
    }
  }
}
.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}
